<aside class="marketify_widget_featured_popular">
  <h1 class="home-widget-title">
    <span>Featured </span>			
  </h1>

  <div class="row flexslider">			
    <div class="flex-viewport" style="overflow: hidden; position: relative;">
      <ul class="slides" style="width: 1000%;">
        <li class="col-lg-3 col-sm-6" style="width: 360px; float: left; display: block;">					
          <article class="content-grid-download">	
            <div class="entry-image">	
              <img width="700" height="525" src="http://blog.teamtreehouse.com/wp-content/uploads/2013/05/readcube-website-icons-detail-list.png" alt="angel list">	
            </div>
          </article> 
        </li>
        <li class="col-lg-3 col-sm-6" style="width: 360px; float: left; display: block;">					
          <article class="content-grid-download">	
            <div class="entry-image">	
              <img width="700" height="525"  src="http://morganlinton.com/wp-content/uploads/2013/06/intercom-io-site.png" alt="500 startups">		
            </div>
          </article> 
        </li>
        <li class="col-lg-3 col-sm-6" style="width: 360px; float: left; display: block;">
          <article class="content-grid-download">
            <div class="entry-image">
              <img width="700" height="525"  src="http://speckycdn.sdm.netdna-cdn.com/wp-content/uploads/2013/05/09-geckoboard-startup-homepage-background-image.png" alt="Geckoboard" style="height:249px;">	
            </div>
          </article> 
        </li>														
      </ul>
    </div>
  </div>		                
</aside>