<aside>              
  <h1 class="home-widget-title">
    <span>Top 8 Interesting Startups</span>
  </h1>		
  <div class="row">										
    <div class="col-lg-3 col-md-4 col-sm-6">	
      <article class="content-grid-download">
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png" alt="screen">	
        </div>

        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#" rel="bookmark">
              IzATC Business Template
            </a>
          </h1>	
        </header> 
      </article> 
    </div>
            
    <div class="col-lg-3 col-md-4 col-sm-6">				
      <article class="content-grid-download">	
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png" alt="corpo-creative">	
        </div>
                                                                    
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="themes/corporate-creative/index.html">
              Corporate Creative
            </a>
          </h1>                                                                         </header> 
      </article> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <article class="content-grid-download">
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png"alt="eriene-700">	
        </div>
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#" rel="bookmark">
              Eirene – Responsive theme
            </a>
          </h1>
        </header> 
      </article> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <article class="content-grid-download">
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png" alt="nexa-700">	
        </div>
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#">
              Nexa One Page Template
            </a>
          </h1>                                                                         </header> 
      </article> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">				
      <article class="content-grid-download">	
        <div class="entry-image">                                                         <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png" alt="corpo-creative">	
        </div>           
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#">Corporate Creative</a>
          </h1>                                                                         </header> 
      </article> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <article class="content-grid-download">
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png"alt="eriene-700">	
        </div>
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#" rel="bookmark">
              Eirene – Responsive theme
            </a>
          </h1>
        </header> 
      </article> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <article class="content-grid-download">
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png" alt="nexa-700">	
        </div>                                                                          
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="/">
              Nexa One Page Template
            </a>
          </h1>                                                                         </header> 
      </article> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <article class="content-grid-download">
        <div class="entry-image">
          <img width="700" height="525" src="http://dzineblog.com/wp-content/uploads/2013/01/bfore-illustrations-website-layout-background.png"alt="eriene-700">	
        </div>
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#" rel="bookmark">
              Eirene – Responsive theme
            </a>
          </h1>
        </header> 
      </article> 
    </div>
  </div>
</aside>