<% content_for :title do %>About Startup Discovery<% end %>

<h1 class='lead'><strong>About Startup Discovery</strong></h1>

<p>Startup Discovery integrates multiple APIs to produce data to provide another set of metrics to job seekers:
  <ul>
    <li>Decide on whether to join a startup, OR</li>
    <li>Find interesting startups to be a part of</li>
  </ul>
</p>

<p>Why join a startup? Well, I can tell it any better than Paul Graham:</p>

<blockquote>
  <p>
    Running a startup is like being punched in the face repeatedly, but working for a large company is like being waterboarded.
  </p>
  <footer>Paul Graham, Co-founder of Y-Combinator</footer>
</blockquote>

<h2 class='lead'><strong>What does Startup Discovery do?</strong></h2>
<p>
  My background revolves around traffic generation and I'm curious to see if traffic might be a factor (for some startups) to obtain funding. This is important because if you can identify a soon-to-explode startup, join it and be vested in the company, your risk to reward ratio will reduce dramatically. That is the ultimate dream for many who is willing to take on this path. 
</p>



<h2 class='lead'><strong>Where is the data from?</strong></h2>
<p>I'm currently curating a few APIs as listed below:</p>
<ul>
  <li><%= link_to 'Angel List API', 'https://angel.co/api' %>: Startup Data</li>
  <li><%= link_to 'Crunchbase API', 'http://developer.crunchbase.com/' %>: Startup Data + Funding Data</li>
  <li><%= link_to 'Compete API', 'https://developer.compete.com/' %>: Site Traffic Data</li>
</ul>

<p>
If there are other data that you would like to see available on this site, feel free to contact me and I will look into it OR contribute to this app at <%= link_to 'Startup Discovery GitHub Repo' ,'https://github.com/alvinang/Startup-Discovery' %>. Feel free to send me a pull request/bug that you find, I'll merge/fix them asap :)
</p>