<% content_for :title do %>Startup Discovery Terms & Conditions<% end %>

<h1 class='lead'><strong>Terms & Conditions</strong></h1>

  <p><strong>
   PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE. THIS IS A LEGAL AGREEMENT BETWEEN YOU AND STARTUP DISCOVERY (“SDY”) STATING THE TERMS THAT GOVERN YOUR USE OF SDY PRODUCTS AND SERVICES OFFERED ON ITS WEBSITE STARTUPDISCOVERY (the “WEBSITE” OR “STARTUPDISCOVERY”, COLLECTIVELY THE “SERVICE” OR “SERVICES”). BY VISITING OR USING THIS SITE, OR ANY PAGE OF THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE, AND YOU ACKNOWLEDGE THAT SUCH AGREEMENT CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND SDY. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE THIS SITE.
SDY RESERVES THE RIGHT, AT ITS DISCRETION, TO UPDATE OR REVISE THESE TERMS OF USE. PLEASE CHECK THE TERMS PERIODICALLY FOR REVISIONS AND UPDATES. YOUR CONTINUED USE OF THIS SITE AFTER THE POSTING OF CHANGES TO THE TERMS OF USE CONSTITUTES ACCEPTANCE OF THOSE CHANGES.
  </strong></p>

  <ul class="unstyled"><a href="#top"></a>
    <li><a href="#general">GENERAL TERMS</a></li>
    <li><a href="#privacy">PRIVACY</a></li>
    <li><a href="#payment">PAYMENT</a></li>
    <li><a href="#password">PASSWORD</a></li>
    <li><a href="#restrictions">RESTRICTIONS ON USE</a></li>
    <li><a href="#disclaimer">DISCLAIMER OF WARRANTIES</a></li>
    <li><a href="#indem">INDEMNIFICATION</a></li>
    <li><a href="#governing">GOVERNING LAW</a></li>
    <li><a href="#third-party">THIRD PARTY CONTENT</a></li>
    <li><a href="#maintenance">SITE MAINTENANCE</a></li>
    <li><a href="#termination-SDY">TERMINATION BY SDY</a></li>
    <li><a href="#termination-service">TERMINATION OF SERVICES</a></li>
    <li><a href="#paid-services">PAID SERVICES / AGREEMENT TO PAY</a></li>
    <li><a href="#reviews">REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</a></li>
    <li><a href="#disclaimer">StartupDiscovery DISCLAIMER</a></li>
  </ul>

  <p><strong><a name="general">GENERAL TERMS</a></strong><a href="#top"><small> (back to top) </small></a><br>
    This site is owned and operated by StartupDiscovery ("SDY"). SDY has the right at any time to change or discontinue any aspect or feature of the site, including, without limitation, the content, hours of availability, and equipment needed for access or use of the Web site (the "Site").
    Many if not most communications between SDY and you will be sent and received electronically. You agree that all agreements, notices, disclosures and other communications exchanged between you and SDY electronically shall satisfy any legal requirements that such communications be in writing.
  </p>

  <p><strong><a name="privacy">PRIVACY</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Any information that you provide to SDY is subject to our <a href="/privacy">Privacy Policy</a> , which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by SDY. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your SDY account, if any, which you may not be able to opt-out from receiving. You can opt-out of other communications from SDY such as our newsletter, credits notifications, etc.
  </p>


  <p><strong><a name="payment">PAYMENT</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Any and all payments for services shall be made by the Customer in United States dollars through an approved payment processor, such as Stripe or Paypal. Payment are non-refundable, except when an exception is approved by a representative of StartupDiscovery. An applicable sales tax may be assessed based on the Customer’s billing zip code.</p>

  <p><strong><a name="password">PASSWORD</a></strong><a href="#top"><small> (back to top) </small></a><br>
You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. SDY cannot and will not be liable for any loss or damage arising from your failure to comply with the above.</p>

  <p><strong><a name="restrictions">RESTRICTIONS ON USE</a></strong><a href="#top"><small> (back to top) </small></a><br>
    We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability to you. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of SDY, its users and the public.</p>
    <p>SDY offers you access to the Site and to the Content available on the Site solely for your own personal and non-commercial use. You may not resell or make any commercial use of the Site or the Content. You may not make use of any product listings, descriptions, or prices. You may not download or copy any account information for the benefit of any other merchant. You may not make use of any robots, spiders, or similar data mining, data gathering or extraction tools or manual processes to collect, gather or copy any of the Content in an unauthorized manner. You may not engage in the practices of "screen scraping," "database scraping," or any other practice or activity the purpose of which is to obtain lists of users, portions of a database, or other lists or information from this Site, in any manner or in any quantities not authorized by SDY. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of SDY, StartupDiscovery or its affiliates without prior express written consent. You may not use meta tags or any other "hidden text" utilizing SDY or StartupDiscovery name or trademarks without the express written consent of SDY.</p>

<p><strong><a name="disclaimer">DISCLAIMER OF WARRANTIES</a></strong><a href="#top"><small> (back to top) </small></a><br>
    YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR SOLE RISK. NEITHER SDY, ITS AFFILIATES, NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS, OR LICENSORS WARRANT THAT THE SITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SITE, OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION, SERVICE, OR MATERIALS PROVIDED THROUGH THE SITE.</p>
    <p>THE SITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER APPLICABLE LAW. ADDITIONALLY, THERE ARE NO WARRANTIES RELATING TO ANY OF THE AUTOMOBILES ABOUT WHICH INFORMATION IS POSTED ON THIS SITE. THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INACCURACY, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OR, OR USE OF THIS SITE, WHETHER FOR BREACH OF CONTRACT, TORTUOUS BEHAVIOR (INCLUDING STRICT LIABILITY), NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. YOU SPECIFICALLY ACKNOWLEDGE THAT SDY IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>
    <p>IN NO EVENT WILL SDY, OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING, OR DISTRIBUTING THE SITE OR THE CONTENT INCLUDED THEREIN, BE LIABLE IN CONTRACT, IN TORT (INCLUDING FOR ITS OWN NEGLIGENCE) OR UNDER ANY OTHER LEGAL THEORY (INCLUDING STRICT LIABILITY) FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL, OR SIMILAR DAMAGES, INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR REVENUES, LOSS OF USE, OR SIMILAR ECONOMIC LOSS, ARISING OUT OF THE USE OF OR INABILITY TO USE THE SITE. YOU HEREBY ACKNOWLEDGE THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL USE OF AND CONTENT ON THE SITE. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT SHALL SDY TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING ITS OWN NEGLIGENCE) OR UNDER ANY OTHER LEGAL THEORY (INCLUDING STRICT LIABILITY) EXCEED THE AMOUNT PAID BY YOU, IF ANY, FOR ACCESSING THIS SITE OR OBTAINING ANY REPORTS OR OTHER INFORMATION FROM THIS WEB SITE.</p>

  <p><strong><a name="indem">INDEMNIFICATION</a></strong><a href="#top"><small> (back to top) </small></a><br>
    You agree to defend, indemnify, and hold harmless SDY and its affiliates and their respective directors, officers, employees, and agents from and against any and all claims, actions, demands, damages, costs, liabilities, losses, and expenses (including reasonable attorneys' fees) arising out of your use of the Site or any information you obtain from the Site or its reports.</p>

  <p><strong><a name="governing">GOVERNING LAW</a></strong><a href="#top"><small> (back to top) </small></a><br>
    This site (excluding any linked sites) is controlled by us from our offices within the United States of America. You agree to comply with all local, state, federal, and national laws, statutes, ordinances, and regulations that apply to your use of the service.</p>

  <p><strong><a name="third-party">THIRD PARTY CONTENT</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Any information or content expressed or made available by third parties, including information providers and users, are those of the respective author(s) or distributor(s) and not of SDY.</p>
    <p>The Site contains links to third party web sites with which SDY has linking arrangement but for which it does not maintain control or assume responsibility. The inclusion of such a link does not necessarily imply endorsement of such sites by SDY or any association with the operators of such linked sites. Any concerns regarding any such third party service or resource, or any link thereto, should be directed to the particular service or resource. In addition, SDY recommends that you review these sites' terms of use and privacy policies.</p>

  <p><strong><a name="maintenance">SITE MAINTENANCE</a></strong><a href="#top"><small> (back to top) </small></a><br>
    In the event of any site maintenance, you might not be able to purchase Services on the Site. SDY reserve the rights to inform you about this maintenance and provide the Product to you upon completion of the site maintenance.</p>

  <p><strong><a name="termination-SDY">TERMINATION BY SDY</a></strong><a href="#top"><small> (back to top) </small></a><br>
  If you fail, or SDY suspects that you have failed, to comply with any of the provisions of this Agreement, including but not limited to failure to make payment of fees due, failure to provide SDY with a valid credit card or with accurate and complete Account registration data, failure to safeguard your account information, violation of the SDY Terms of Use or any license, or infringement or other violation of third parties' rights, SDY, at its sole discretion, without notice to you may: (i) terminate this Agreement and/or your account, and you will remain liable for all amounts due under your account up to and including the date of termination; and/or (ii) terminate the license to the software; and/or (iii) preclude access to the Services (or any part thereof). Any suspected fraudulent, abusive or illegal activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.</p>

  <p><strong><a name="termination-service">TERMINATION OF SERVICES</a></strong><a href="#top"><small> (back to top) </small></a><br>
  SDY reserves the right to modify, suspend, or discontinue the Services (or any part or content thereof) at any time with or without notice to you, and SDY will not be liable to you or to any third party should it exercise such rights.</p>

  <p><strong><a name="paid-services">PAID SERVICES / AGREEMENT TO PAY</a></strong><a href="#top"><small> (back to top) </small></a><br>
  Prices and availability of any Services are subject to change at any time. You must have an Account and pay the subscription or other fees to use any of SDY’s Services.  For information about subscription and other fees for particular Services visit www.StartupDiscovery.com.</p>
  <p>You are responsible for reviewing the SDY Terms of Service to obtain timely notice of such changes. Your continued use of the SDY Services thirty (30) days or more after posting of the changes means that you accept such changes. If any change is unacceptable to you, you may cancel your subscription at any time, but SDY will not refund any fees that may have accrued to your Account before cancellation of your subscription, and we will not prorate fees for any subscription. If your use of SDY Services is subject to use or sales tax, then SDY may also charge you for any such taxes, in addition to the subscription or other fees.</p>
  <p>We may provide links to other web sites. Some of these web sites may charge separate fees, which are not included in any subscription or other fees that you may pay to SDY. Any separate charges or obligations that you incur in your dealings with third parties are your responsibility.</p>
  <p>Unless expressly authorized in writing by SDY, you agree not to reproduce, duplicate, copy, sell, trade, resell, redistribute, or exploit for any commercial purposes any: (a) portion of the Services; (b) use of the Services, including SDY’s response methods; or (c) access to the Services, including, but not limited to Account information.</p>

<p><strong><a name="reviews">REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</a></strong><a href="#top"><small> (back to top) </small></a><br>
If you do post content or submit material, and unless we indicate otherwise, you grant SDY and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You represent and warrant that you own or otherwise control all of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and will not cause injury to any person or entity; and that you will indemnify SDY or its affiliates for all claims resulting from content you supply. SDY has the right but not the obligation to monitor and edit or remove any activity or content. SDY takes no responsibility and assumes no liability for any content posted by you or any third party.</p>

  <p><strong><a name="disclaimer">StartupDiscovery DISCLAIMER</a></strong><a href="#top"><small> (back to top) </small></a><br>
  <p>BY VISITING OR USING THIS SITE, OR ANY PAGE OF THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE, AND YOU ACKNOWLEDGE THAT SUCH AGREEMENT CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND SDY. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE THIS SITE.</p>

  <p><strong>If you have any questions concerning our Terms and Conditions, Privacy Policy or other related concerns, feel free to provide written notices to the following office or contact us via email at the following address:</strong></p>
  
<a href="mailto:#">alvinangbs@gmail.com</a>
