<% funding_data = [] %>
<% funding.each do |fund| %>
  <% funding_data << "#{fund['funded_year']}-#{fund['funded_month']}" %>
<% end %>

<div id="graph" style="height: 250px;"></div>
<% graph_data = [] %>
<% compete_data.each { |data| graph_data << { date: data['date'].insert(4, "-"), value: data['value'] } } %>


<script>

new Morris.Line({
  element: 'graph',
  data: <%= raw graph_data.to_json %>,
  xkey: 'date',
  ykeys: ['value'],
  labels: ['Value'],
  events: <%= raw funding_data %>,
  ymax: 'auto'
});

</script>
