<% funding_data = [] %>
<% funding.each do |fund| %>
  <% funding_data << "#{fund['funded_year']}-#{fund['funded_month']}" %>
<% end %>

<div id="graph" style="height: 250px;"></div>
<% graph_data = [] %>
<% compete_data.each { |data| graph_data << { date: data['date'].insert(4, "-"), value: data['value'] } } %>


<script>

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'graph',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: <%= raw graph_data.to_json %>,
  // The name of the data record attribute that contains x-values.
  xkey: 'date',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value'],
  events: <%= raw funding_data %>,
  ymax: 'auto'
});
 
</script>