<div class="row">
  <div class="header-main text-center">
    <h1>Startup Discover</h1>
    <h4>Site Traffic, Funding Timeline & Potential</h4>
    <%= render partial: 'companies/form' %>  
  </div>
</div>
