<footer id="footer">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <%= link_to 'Home' %>
      <%= link_to 'About' %>
      <%= link_to 'Privacy' %>
      <%= link_to 'Terms' %>
    </div>
    <div class="text-right col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <p><a href="#">© Startup Discovery, 2014.</a></p>
    </div>
  </div>
</footer>